*.zip
kernel/*
!kernel/kernel_build.sh
!kernel/kernel_clone.sh
!kernel/kernel_extract.sh
rom/*
!rom/rom_download.sh
aosp/*
!aosp/clone_aosp.sh
tools/*
emu/*
!rom/magisk/readme.md
!emu/clone_emu.sh
!emu/emu_build.sh
!emu/emu_rebuild.sh
!emu/emu_launch_generic.sh